Задание по курсовым проектам
1.1 Дан размеченный многомерный набор данных телеметрической
информации (ТМИ) малого космического аппарата. Разработать приложение на языке
Python с использованием необходимых библиотек машинного и глубокого обучения
на основе классификационной модели, заданной в варианте x, которое определяет
техническое состояние малого космического аппарата: штатное ф-е 0, отказ 1, сбой 2,
на основе данных его ТМИ.
1.2 Переразметить исходный набор ТМИ МКА на случай бинарной
классификации: штатное функционирование, нештатное ф-е (объединить вектора с
метками отказ и сбой). Разработать приложение на языке Python с использованием
необходимых библиотек машинного и глубокого обучения на основе бинарной
классификационной модели, заданной в варианте x, которое определяет техническое
состояние малого космического аппарата: штатное ф-е 0, нештатное ф-е 1, на основе
данных его ТМИ.
2. Выполнить разведочный анализ данных как в ЛР.
3. Анализ выполняется для исходного набора данных и преобразованного
исходного набора данных, который Вы подбираете самостоятельно с целью
получения лучшей точности классификации.
4. Проверить набор данных на сбалансированность классов. В случае
несбалансированного набора данных помимо “Classification report” с основными
метриками: Accuracy, Precision, Recall, F1-score, также оценивать
balanced_accuracy_score. Также оценивать и анализировать ROC_AUC_score.
5. Для выбранной комбинации набора данных и классификационной модели
выполняется поиск гиперпараметров с помощью генетического алгоритма.
Реализовывать ГА можно самостоятельно или воспользоваться библиотекой DEAP
(https://deap.readthedocs.io/en/master/index.html).
Во всех НС классификационных моделях при необходимости использовать
методы регуляризации (L1, L2, Dropout, ранний останов, корректировку скорости
обучения - learning rate).
Сохранять лог всех генерируемых НС моделей в популяции.
Гиперпараметры: число сверточных слоев, число сверточных фильтров в
сверточных слоях, размер свертки в сверточных слоях, число рекуррентных слоев,
число ячеек (units) в рекуррентных слоях, число полносвязных слоев, число нейронов
в полносвязных слоях, алгоритм обучения, активационные функции. Число слоев для
всех типов слоев можно определять автоматически, при наличии мощных аппаратных
ресурсов, или подобрать вручную и зафиксировать перед автоматическим поиском
гиперпараметров. Набор гиперпараметров определяете в зависимости от модели НС
и доступных аппаратных ресурсов.
6. В соответствии с одним из двух, указанных ниже вариантов, выполнить:
6.1. (для вариантов 1.1) На неразмеченной части набора данных выполнить
предобучение с помощью автокодировщика, построенного на основании базового
нейросетевого классификатора, заданного в варианте. Выполнить точную настройку
(дообучение) базовой нейронной сети на размеченном наборе данных.
6.2. (для вариантов 1.2) Построить автокодировщик, определяющий аномалии
– вектора, соответствующие нештатным состояниям МКА, на основании базового
нейросетевого классификатора, заданного в варианте. Обучить с валидацией на
размеченного наборе данных ТМИ, не используя эталонные метки. Протестировать
на тестовой подвыборке размеченного набора ТМИ и получить классификационные
метрики с учетом значений имеющихся эталонных метрик: сравнить результаты –
метки штатных и нештатных состояний, полученные обученным обученным
автокодировщиком, определяющим аномалии, и значения эталонных меток для
тестового поднабора размеченной выборки.
Сделать выводы по проведенному анализу

Наш вариант:
24.Гибридная нейросетевая модель: последовательностное соединение
одномерных сверточных и рекуррентных GRU нейросетевых слоев с
полносвязным классификатором: самостоятельная реализация.
